svg {
	padding: 0;
	position: fixed;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
/*	border:1pt solid black;*/
}

svg > g {
	opacity: 0;
	transition: all 1s;
}

/*
#sunset {

}

#wavy {

}

#greenblue {

}

#pink {

}

#trees {

}*/
