*{
	/*border:1pt black solid;*/
}

main {
	margin: 1.5% 10% 0 3%;
	width: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;


}


.bio {

	width:50%;
	margin:0;
}


.contact-info {
	width:30%;
}


@supports (display: flex) {
  @media only screen and (max-width: 480px), (orientation: portrait) {

main {
	margin: 0;
	width:100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items:center;
	
}

.bio {
	margin-bottom: 25px;
	width: 90%;
}



}
}