main {
	margin: 1.5% 10% 0 3%;

}

.drawings {
	display: flex;
 	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: flex-end;
}

.drawings-info {
	position: fixed;
	width:40%;
}

@supports (display: flex) {
  @media only screen and (max-width: 480px), (orientation: portrait) {

main {
	margin: 0;
	width:100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items:center;	
}

.drawings-info {
	position: relative;
	width: 90%;

}

.bio {
	margin-bottom: 25px;
	width: 90%;
}



}
}